.fig {
  background-color: #008598E6;
}

.texto {
  font-size: 42px;
  font-weight: bold;
  font-family: Impact;
  fill: #457b9d;
}

.grupo {
  fill: #ffffff44;
  stroke: #00000099;
}

.ejes {
  font-size: 16px;
  font-family: "Fira Code";
}

.ejes line {
  stroke-width: 1;
  stroke: #33333344;
  stroke-dasharray: 4 2;
}

.labels {
  font-size: 20px;
  font-family: "Fira Code";
  color: #fff;
}

.year {
  font-size: 450px;
  font-family: "Fira Code";
  fill: #bbb;
  text-anchor: middle;
  dominant-baseline: middle;
}

#titulo {
  background-color: #008598E6;
}

.circulo{
  background-color: #00FF00;
  width: 120px;
  height: 35px;
  border-radius: 15%;
  border: #00FF0080;
  color: #fff;
  }

  .circulo2{
    background-color: #FF0000;
    width: 120px;
    height: 35px;
    border-radius: 15%;
    border: #FF000080;
    color: #fff;
  }

  .circulo3{
    background-color: #000000;
    width: 120px;
    height: 35px;
    border-radius: 15%;
    border: #00000080;
    color: #fff;
  }

  .circulo4{
    background-color: #572364;
    width: 120px;
    height: 35px;
    border-radius: 15%;
    border: #57236480;
    color: #fff;
  }

  .circulo5{
    background-color: #800080;
    width: 120px;
    height: 35px;
    border-radius: 15%;
    border: #80008080;
    color: #fff;
  }

  .circulo6{
    background-color: #0000FF;
    width: 120px;
    height: 35px;
    border-radius: 15%;
    border: #0000FF80;
    color: #fff;
  }

  .circulo7{
    background-color: #008000;
    width: 120px;
    height: 35px;
    border-radius: 15%;
    border: #00800080;
    color: #fff;
  }

.colorsDescription h5{
  background-color: #008598E6;
}

.backblack{
  background-color: #000000CC;
}